header(class=hasBreaking() ? 'has-breaking-latent' : '')#site-header

  #main-menu
    - wp_nav_menu(array('menu'=>'main-menu'))
    - render_partial('partials/menu-news-bar')
  
  #search= render_partial('partials/search')

  - render_partial('partials/breaking')
  
  #language_prompt.modal
    .modal-background
    .modal-card
      section.modal-card-body
        span.icon.close
          .fas.fa-times
        .inner
          img(src=gfx('icons/sb.svg')).img
          p Would you like to view the English version of this site?
          button(data-action='english').button Switch to English
          button(data-action='close').button Close
    
  .top-bar
    .controls
      unless (is_front_page())
        a(href='#back').back-button
          img(src=gfx('icons/back.svg'))

      a.menu-toggle
        img(src=gfx('icons/hamburger.svg')).open
        img(src=gfx('icons/close_hamburger.svg')).close

      unless is_page('search')
        a.search-button
          img(src=gfx('icons/search-l.svg')).search

      - $q = $_SERVER['QUERY_STRING']
      - $q = str_replace('lang=de', '', $q)
      - $q = str_replace('lang=en', '', $q)
      - if($q)
        - $q = '&'.$q
      - if (ICL_LANGUAGE_CODE == 'en')
        - $href = '?lang=de'.$q
        a(href='#', data-href=$href, data-current-lang="en", data-to-lang="de").lang.de
          img(src=gfx('icons/de.svg'))
      - else
        - $href = '?lang=en'.$q
        a(href='#', data-href=$href, data-current-lang="de", data-to-lang="en").lang.en
          img(src=gfx('icons/en.svg'))

    a(href=l('/')).logo
      img(src=gfx('logo.svg'))

.header-spacer
