- global $post
- if ($post->post_parent)
  - $isSub = true
  - $parentID = $post->post_parent
  - $mainID = $parentID
  - $parent_post = get_post($parentID)
  - $slugButton = $parent_post->post_name
- else
  - $isSub = false
  - $mainID = get_the_ID()
  - $slugButton = $post->post_name
  
- $children = fetch_current_children()
- $currentID = get_the_ID()
- $slug = $post->post_name


section.section.kompetenzen-single
  .container
    .columns.reverse-column-order-on-mobile
      .column.is-3.details(data-aos="fade-right", data-aos-offset="-100")

        ul.subpages
          while ($children->have_posts())
            - $children->the_post()
            li
              - if (get_the_ID() == $currentID)
                - $isActive = true
              - else
                - $isActive = false
              span
                a(href=get_the_permalink(), class=$isActive ? 'is-active' : '')!= get_the_title()

        - $awards = get_field('awards', $mainID)
        if $awards
          .awards!= $awards


        .contact
          - $name = get_the_title($mainID)
          - $city = get_field('standort', $mainID)
          - $address = get_field_by_slug('address', $city, 'standorte')

          - $phone = get_field('phone', $mainID)
          - $email = get_field('email', $mainID)

          //- if there's no ACF entered in the page itself, then get the fields from the city
          - if (!$phone)
            - $phone = get_field_by_slug('phone', $city, 'standorte')
          - if (!$email)
            - $email = get_field_by_slug('email', $city, 'standorte')

          p.kontakt
            .head!= t('Kontakt:', 'Contact:')
            .name!= $name
            //- .address!= $address

          p.phone-mail
            //- if ($phone)
            //-   img.contact-icon(src=gfx('/icons/phone_icon.svg'))
            //-   span!= $phone
            //-   br
            if ($email)
              img.contact-icon(src=gfx('/icons/mail_icon.svg'))
              - $mailLink = 'mailto:'.$email
              a(href=$mailLink)!= $email

        - if (ICL_LANGUAGE_CODE == 'en')
          - $href = '/en/lawyers/?k='.$slugButton
        - else
          - $href = '/anwalte/?k='.$slugButton
        
        - if ($slug == 'tax')
          - $german = 'Zu den Steuerberatern'
        - else
          - $german = 'Zu den Anwälten'
        
        a(href=$href).button.is-outlined!= t($german, 'Lawyers')

      .column.is-7.is-offset-1.main-info(data-aos="fade-left", data-aos-delay="200", data-aos-offset="-100")
        post
          header
            - if ($isSub)
              - $link = '..'
              //- - if (ICL_LANGUAGE_CODE == 'en')
                //- - $link = '../?lang=en'
              a(href=$link).parent!= get_the_title($mainID)
            - else
              .parent= t('Kompetenzen', 'Expertise')
            h1!= get_the_title($currentID)
          
          - $content = get_post($currentID)->post_content
          - $content = apply_filters('the_content', $content)
          - $content = str_replace(']]>', ']]&gt;', $content)  

          if (get_field('auto_anchor', $currentID))
            .auto-anchor.enabled.kompetenzen-list.columns.is-multiline

          content.info!= $content
            
