- // directions popup
- $anfahrt_text = get_field('anfahrt_text')
- if($anfahrt_text)
  #directions.modal(style='z-index: 999')
    - $js = 'document.getElementById("directions").className = "modal"'
    .modal-background(style='background-color: hsla(0,0%,4%,.56)', onclick=$js)
    .modal-content
      .box!= $anfahrt_text
    button(aria-label="close", onclick=$js).modal-close.is-large

- $gallery = get_field('gallery')

.standort
  section.section
    .container
      .columns
        //- desktop
        .column.is-8.is-offset-2(data-aos="fade-up")
          //- desktop
          ul.cities.is-hidden-mobile= list_custom_posts('standorte')
          
          //- mobile
          .columns.is-mobile.is-multiline.is-hidden-tablet.has-black-links
            - $cities = fetch_custom_posts('standorte', -1, 'menu_order', 'array')
            each $city in $cities
              - $id = $city->ID
              .column.is-4
                a(href=get_permalink($id))!= get_the_title($id)
          
  
  - if($gallery)
    .slider
      .container
        .columns(data-aos="fade-left", data-aos-delay=100)
          .column.is-12
            - render_partial('partials/acf-gallery')
  - else
    .slider
      .container
        .columns.city-hero(data-aos="fade-left", data-aos-delay=100)
          .column.is-12
            - $bg = get_the_post_thumbnail_url(get_the_ID(), 'hero')
            - $style = 'background-image: url('.$bg.')'
            .bg(style=$style)
        //- .columns
        //-   .column.is-12
        //-     - getPrevNext(get_the_ID(), 'standorte')

  section.section
    .container
      .columns
        .column.is-10.is-offset-1
          .columns.reverse-column-order-on-mobile
            .column.is-4.contact(data-aos="fade-right", data-aos-delay=400, data-aos-offset=-100)
              .address
                div ARNECKE SIBETH DABELSTEIN
                p!= get_field('address')

              p.details
                if (get_field('phone'))
                  img.contact-icon(src=gfx('/icons/phone_icon.svg')) 
                  span= the_field('phone')
                  br
                if (get_field('email'))
                  img.contact-icon(src=gfx('/icons/mail_icon.svg')) 
                  - $email = get_field('email')
                  - $mailLink = 'mailto:'.$email
                  a(href=$mailLink)= $email
              
              .gettingthere
                - $anfahrt_text = get_field('anfahrt_text')
                - $anfahrt_pdf = get_field('anfahrt_pdf')
                - $href = ''

                - if($anfahrt_text)
                  - $js = 'document.getElementById("directions").className += " is-active"'
                  button(onclick=$js, style='margin: 1rem 0').button.is-outlined.show-directions!= t('Anfahrt', 'Directions')
                  br

                - if($anfahrt_pdf)
                  a(href=$anfahrt_pdf, target='_blank').button.is-outlined!= t('Download Anfahrt-PDF', 'Download Directions PDF')
              
              .kompetenzen
                - $js = 'document.getElementById("kompetenzen").classList.toggle("is-hidden")'

                //- button(onclick=$js).button.is-outlined!= t('Kompetenzen', 'Expertise')
                button(onclick=$js, style='margin: 1rem 0').button.is-outlined.show-directions!= t('Kompetenzen', 'Expertise')
                br

                ul#kompetenzen.is-hidden
                  - $menuItems = wp_get_nav_menu_items('kompetenzen')
                  - $i = 0
                  each $menu in $menuItems
                    - $title = $menu->title
                    - $link = $menu->url
                    - $i = $i + 1
                    - $delay = $i * 50
                    li
                      span(style='color: #77b1c3') •&nbsp;
                      a(href=$link, style='color: #77b1c3; font-size: 0.8em;')!= $title


            .column.is-7.is-offset-1(data-aos="fade-left", data-aos-delay=400, data-aos-offset=-100)
              .content!= get_the_filtered_content()
              //- .mtb2em
                - global $post
                
                - if (ICL_LANGUAGE_CODE == 'en')
                  - $link = '/en/lawyers/?standort='.$post->post_name
                - else
                  - $link = '/anwalte/?standort='.$post->post_name
                a.button(href=$link)
                  - if (ICL_LANGUAGE_CODE == 'en')
                    span The
                    span &nbsp;
                    span= the_title()
                    span &nbsp;
                    span team
                    
                  - else
                    span Das Team  
                    span &nbsp;
                    span= the_title()  



.anwalte(data-aos="fade-up", data-aos-delay="400")
  section.section.anwalte-grid.is-paddingless
    .columns.is-multiline.is-gapless.shuffler.is-mobile(style='background: #EEE')
      //- - $anwalte = fetch_custom_posts('anwalte', -1, 'rand', 'object')
      - global $post
      - $city = $post->post_name
      - $anwalte = fetch_lawyers_by_city($city)
      
      if ($city == 'hamburg')
        - $city2 = 'leer'
        - $anwalte2 = fetch_lawyers_by_city($city2)
        - $anwalte2 = $anwalte2->posts
        - $anwalte1 = $anwalte->posts
        - $all_anwalte = array_merge($anwalte1, $anwalte2)
        - $anwalte->posts = $all_anwalte
        - $anwalte->post_count = count($anwalte->posts)
        - $anwalte->found_posts = count($anwalte->posts)
        
        
        

      //- xmp
        - print_r($anwalte)

      - $n = 0
      - $c = 0
      - $last = 0
      - while ($anwalte->have_posts())
        - $n = $n+1
        - $delay = $n * 100
        - $anwalte->the_post()
        - $filters = slugs_string_from_ID_array(get_field('kompetenzen')).get_field('standort')
        - $filtersArray = explode(' ', $filters)
        - $filtersData = '['.implode(', ', array_map('add_double_quotes', $filtersArray)).']'

        .lawyer.column.content(data-groups=$filtersData).shuffler-item.is-6-mobile.is-one-third-tablet.is-3-desktop.is-3-widescreen.is-is-one-fifth-fullhd.aspect-outer
          - $thumb = get_field('hero_image', get_the_ID())
          //- - $thumb = $thumb['sizes']['retina-thumb']
          - $thumb = $thumb['sizes']['thumbnail']
          - $style = 'background-image: url('.$thumb.')'
          .bg-boxy(style=$style).aspect-inner          
            .lawyer-details
              h1!= $n
              h3.title= the_title()
              - if (get_field('status', get_the_ID()) !== 'none')
                .cat= acf_option_label('status', get_the_ID())
              a(href=get_the_permalink()).button.is-inverted.is-outlined= t('Zeigen', 'Show')
          

        - $last = $last + 1
        
        
        
        //- - if (rand(0,6) == ($n%7) && $last !== 3)
        //-   - $c = $c+1
        //-   - $last = 0
        //-   .lawyer.filler.column.shuffler-item(class=($c%2) ? 'boxcolour1' : 'boxcolour2', data-groups='["filler"]').is-6-mobile.is-one-third-tablet.is-3-desktop.is-3-widescreen.is-is-one-fifth-fullhd.aspect-outer
        //-     .aspect-inner &nbsp;


            
- $map = get_field('map')
if $map
  .map.snazzy!= $map
