- $anwalte = fetch_custom_posts('anwalte', 6, 'rand')
//- - $anwalte_count = wp_count_posts('anwalte')
//-- $anwalte_count = $anwalte_count->publish
//-- $anwalte_count = $anwalte_count / 2 // Divide in half because it counts English translations too
//-- $anwalte_count = (int)$anwalte_count // avoid halves
//-- $standorte_count = wp_count_posts('standorte')
//-- $standorte_count = $standorte_count->publish
//-- $standorte_count = $standorte_count / 2 // Divide in half because it counts English translations too
//-- $standorte_count = (int)$standorte_count
- $standorte_count = 6
- $anwalte_count_page = get_page_by_path('anwalte-anzahl')
- $anwalte_count = $anwalte_count_page->post_content

section.section.anwalte.is-hidden-mobile
  .container
    .columns
      .column.is-12.is-10-widescreen.is-offset-1-widescreen
        .grid.columns.is-multiline
          .column.is-one-third(data-aos="fade-up",  data-aos-anchor="section.anwalte").aspect-outer
            .boxy.is-lightgrey.aspect-inner
              .inner
                p
                  span !{$anwalte_count}&nbsp;
                  span= t('Anwälte', 'Lawyers')
                a.button(href=t('/anwalte', '/en/lawyers'))= t('Alle zeigen', 'Show all')
          - $i = 0
          - $n = 0
          - while ($i < 8)
            - $i = $i+1
            - $delay = 100 * $i
            - if ($i == 5)
              .column.is-one-third.has-text-centered(data-aos="fade-up", data-aos-anchor="section.anwalte", data-aos-delay=$delay).aspect-outer
                .boxy.is-turquoise.aspect-inner
                  .inner
                    p
                      span !{$standorte_count} 
                      span= t('Standorte', 'Locations')
                    a(href=t('/standorte', '/en/locations')).button.is-outlined.is-inverted= t('Alle Standorte', 'All locations')
            - else if ($i == 7)
              .column.is-one-third.has-text-centered(data-aos="fade-up", data-aos-anchor="section.anwalte", data-aos-delay=$delay).aspect-outer
                .boxy.is-darkblue.aspect-inner
                  .inner
                    p= t('Werden Sie Teil einer Familie', 'Become part of a family')
                    a(href=t('/karriere', '/en/career')).button= t('Karriere', 'Career')
            - else
              .column.is-one-third.has-text-centered(data-aos="fade-up", data-aos-anchor="section.anwalte", data-aos-delay=$delay).lawyer.aspect-outer
                - $id = $anwalte[$n]->ID
                - $n = $n + 1
                - $thumb = get_field('hero_image', $id)
                //- home thumb max width: 360px = 720 retina, h=60% = 432
                //- - dump($thumb)
                //- - $thumb = $thumb['sizes']['retina-thumb']
                - $thumb = $thumb['sizes']['thumbnail']
                - $style = 'background-image: url('.$thumb.')'
                .bg-boxy(style=$style).aspect-inner
                  .lawyer-details
                    h3.title= get_the_title($id)
                    - if (get_field('status', $id) !== 'none')
                      .cat= acf_option_label('status', $id)
                    a(href=get_the_permalink($id)).button.is-inverted.is-outlined= t('Zeigen', 'Show')



- $anwalte = array_splice($anwalte, -2)

section.anwalte.is-hidden-tablet
  #anwalte-glide.glide
    .glide__track(data-glide-el="track")
      ul.glide__slides
        - $i = -1
        - $n = 0
        - while ($i < 6)
          - $i = $i+1
          - $delay = 100 * $i
          - if ($i == 1)
            .aspect-outer.glide__slide
              .boxy.is-lightgrey.aspect-inner
                .inner
                  p
                    span !{$anwalte_count}&nbsp;
                    span= t('Anwälte', 'Lawyers')
                  a.button(href=t('/anwalte', '/en/lawyers'))= t('Alle zeigen', 'Show all')
          - else if ($i == 3)
            .glide__slide.has-text-centered(data-aos="fade-up", data-aos-anchor="section.anwalte", data-aos-delay=$delay).aspect-outer
              .boxy.is-turquoise.aspect-inner
                .inner
                  p
                    span !{$standorte_count} 
                    span= t('Standorte', 'Locations')
                  a(href=t('/standorte', '/en/locations')).button.is-outlined.is-inverted= t('Alle Standorte', 'All locations')
          - else if ($i == 5)
            .glide__slide.has-text-centered(data-aos="fade-up", data-aos-anchor="section.anwalte", data-aos-delay=$delay).aspect-outer
              .boxy.is-darkblue.aspect-inner
                .inner
                  p= t('Werden Sie Teil einer Familie', 'Become part of a family')
                  a(href=t('/karriere', '/en/career')).button= t('Karriere', 'Career')
          - else
            .glide__slide.has-text-centered(data-aos="fade-up", data-aos-anchor="section.anwalte", data-aos-delay=$delay).lawyer.aspect-outer
              - $id = $anwalte[$n]->ID
              - $n = $n + 1
              - $thumb = get_field('hero_image', $id)
              //- - $thumb = $thumb['sizes']['retina-thumb']
              - $thumb = $thumb['sizes']['thumbnail']
              - $style = 'background-image: url('.$thumb.')'
              .bg-boxy(style=$style).aspect-inner
                .lawyer-details
                  h3.title= get_the_title($id)
                  .cat= acf_option_label('status', $id)
                  a(href=get_the_permalink($id)).button.is-inverted.is-outlined= t('Zeigen', 'Show')
